@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@700&family=Montserrat:wght@400;500;600;700&display=swap');

:root{
  --color-gold: #FFD700;
  --color-black: #201F1B;
  --color-black-75: #201F1BBF;
  --color-black-50: #201F1B50;
  --color-black-25: #201F1B40;
  --color-black-10: #201F1B1A;
  --color-black-5: #201F1B0D;
  --color-grey: #868686;
  --color-grey-25: #86868640;
  --color-grey-10: #8686860D;
}

*{
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Gelasio', serif;
}


input, textarea{
  padding:16px;
  font-size:20px;
  border:none;
  border-bottom: 4px solid rgba(32, 31, 27, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family:'Montserrat', sans-serif;
}

body{
  box-sizing:border-box;
  width:100%;
  background-color: #F6F6F6;
}



.btn {
  padding: 8px 16px;
  color:var(--color-black);
  font-size:20px;
  background-color:var(--color-gold);
  font-weight: 500;
  outline:none;
  border:none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor:pointer;
  border-radius:100px;
}





.overlay{
  background: linear-gradient(180deg, rgba(32, 31, 27, 0.7) 0%, rgba(32, 31, 27, 0.1) 100%);
}

@media only screen and (max-width:600px){
  .App header{
    padding: 0 16px;
  }
  .App header .contact{
    display: none;
  }

  .App header h1{
    font-size: 20px;
  }

  .App header .btn{
    display:none;
  }

  .App header .menu{
    display:block;
    width:30px;
    height:30px;
  }

  .App footer{
    height:64px;
    margin-top:128px;
  }
}
