@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');

:root{
  --color-gold: #FFD700;
  --color-black: #201F1B;
  --color-black-75: #201F1BBF;
  --color-black-50: #201F1B50;
  --color-black-25: #201F1B40;
  --color-black-10: #201F1B1A;
  --color-black-5: #201F1B0D;
  --color-grey: #868686;
  --color-grey-25: #86868640;
  --color-grey-10: #8686860D;
}

*{
  padding:0;
  margin:0;
  font-family: 'Crimson Text', serif;
}

body{
  box-sizing:border-box;
}

.App{
  padding-bottom:64px;
}

.btn {
  padding: 8px 16px;
  color:var(--color-gold);
  font-size:16px;
  background-color:var(--color-black);
  outline:none;
  border:none;
}

