header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:64px;
  background-color:var(--color-black);
  color:white;
  padding:0 32px;
}

header .contact{
  display:flex;
  align-items:center;
  gap:8px;

}

header .contact img{
  width:30px;
  height:30px;
}

header button{
  padding: 8px 16px;
  color:var(--color-gold);
  font-size:20px;
  background-color:var(--color-grey-25);
  outline:none;
  border:none;
}

